audit=false
enable-pre-post-scripts=true
fund=false
package-lock=false
prefer-dedupe=true
prefer-offline=true
save-prefix=~
save=false
strict-peer-dependencies=false
unsafe-perm=true
shamefully-hoist=true
